/Aspose.Email-Cloud/packages
/Aspose.Email-Cloud/obj/Debug
/Aspose.Email-Cloud/bin/Debug
/Aspose.Email-Cloud/.vs
/Aspose.Email-Cloud/Aspose.Email-Cloud.csproj.user
/Aspose.Email-Cloud/obj/
/Aspose.Email-Cloud/bin/
/Aspose.Email-Cloud/.idea/
.idea/
packages/