/Aspose.Email.Cloud.Sdk/packages
/Aspose.Email.Cloud.Sdk/obj/Debug
/Aspose.Email.Cloud.Sdk/bin/Debug
/Aspose.Email.Cloud.Sdk/.vs
/Aspose.Email.Cloud.Sdk/Aspose.Email-Cloud.csproj.user
/Aspose.Email.Cloud.Sdk/obj/
/Aspose.Email.Cloud.Sdk/bin/
/Aspose.Email.Cloud.Sdk/.idea/
.idea/
packages/